/* 980px */
@media screen and (max-width: 61.25em) {
	#body_wrapper {
		width: 980px !important;
	}
}

/*730px*/
@media screen and (max-width: 45.625em) {
	#gridTop {
    padding-right: 75px;
  }
  ul#navListPanel li a.navLink span {
    font-size: 18px;
  }
  #navListPanel a {
    padding: 21px 15px;
  }
}

/*565px*/
@media screen and (max-width: 35.313em) {
	#siteSearch {
    cursor: none;
    height: auto;
    left: auto;
    padding-top: 1.429em;
    position: absolute;
    top: 2.5em;
    width: 2.5em;
	display:block !important;
	}
	#siteSearch:before {
	  display: none;
	}
	#siteSearch:after {
	  display: none;
	}
	#siteSearch form{
	display:block;
	}
	#topMenu {
		right: auto;
		width: 100%;
	}
	#navContainer {
	  overflow: hidden;
	  position: relative;
	  width: 100%;	
		top: auto;
	  display: block;
	  background: #00a4e4;
	}	
  #navListPanel, #navListPanel ul {
    height: auto;
    padding-left: 0;
    position:static;
    height: auto;
    background: #00a4e4 !important;
  }

  #navListPanel li {
    float: left;
    width: auto;
  }
  header{
    height: auto;
  }
  ul#navListPanel li a {
    padding: 25px 15px;
  }

  #subNav3, #subNav4, #subNav5 {
    display: block !important;
  }

  #siteSearch, #topLinks {
    display: block;
    position: absolute;
    right: -10px;
    top: 100px;

  }
  #siteSearch {
  	right: 0;
position: absolute;
top: 19px;
width: 265px;
zoom: 1;
  }

  header {
    padding-bottom: 2em;
  }

  #logo {
    width: auto;
    text-align: left;
    margin: 0;
  }

  #logobanner2 {
    display: none;
  }

  .hasBanner #gridTop {
    margin-top: 0;
  }

  #gridTop {
    height: 128px;
    background-color: #00a4e4;
  }

  #pageBanner {
    top: auto;
    height: 128px;
  }
  .utiNavSec {
    text-align: left;
  }
  ul.utiNavSec li {
    display: inline;
  }
  .utiNavSec li:first-child a {
    padding-left: 10px;
    margin-left: 0;
  }
  ul.utiNavSec li a {
    float: none;
  }
  #rightTopMenu {
    position: absolute;
    text-align: left;
    padding-top: 0;
    width: auto;
    right: 193px;
    top: 35px;
  }
  #navBanner{
    overflow: hidden;
    width: 100%;
  }
  #body_wrapper{
	overflow: hidden;
  }
  ul#navListPanel li.tabOnActive a.navLink, #navListPanel a, ul#navListPanel li a.navLink:hover, ul#navListPanel li.selected a.navLink {
    background: #00a4e4;
  }
}
/*545px*/
@media screen and (max-width: 34.063em) {
	#pageBanner .pageTitle {
		width: auto;
		text-align: left;
		padding: .75em;
	}
	#pageBanner img {
		display: block;
	}
}
/*400px*/
@media screen and (max-width: 25em) {
  #pageBanner img {
    width: auto;
    float: right;
    display: block;
  }

  #gridTop, #gridTop #pageBanner {
    height: 128px;
    margin-right: 0;
}
  #pageBanner {
  	width: auto;
  	padding: 0;
  }
}