@media screen and (max-width: 980px) {
	#body_wrapper {
		width: 100%;
		padding: 0;
		height: 100%;
	}
	body {
		padding: 0 10px;
	}
	#navBanner {
		width: 65%;		
	}
	#gridTop #formContainer {
		position: relative;
		z-index: 999;
	}
	#gridTop {
		padding-right: 50px;
		height: 95%;
	}
	.bnrDesc .Custom_Bold {
		font-size: 17px;
	}
	#navBanner .bannerSection {
		height: 100%;
	}
	.bnrDesc {
		width: 50%;
	}
	#navBanner .thumblist li a span {
		display: none;
	}
	#navBanner .thumblist li {
		height: 45px;
		width: 45px;
	}
	#navBanner #thumbnail {
		top: 399px;
	}
}
@media screen and (min-width: 775px) and (max-width: 930px) {
	#formContainer {
		width: 32% !important;
	}
	#formWrapper ul li .inp {
		width: 97% !important;
	}
}
@media screen and (max-width: 775px) {
	#gridTop {
		padding: 0;
	}
	#navBanner {
		width: 100%;
		background: #00A4E4;
	}
	.bnrDesc .Custom_Bold {
		font-size: 20px;
	}
	.bnrDesc {
		width: 35%;
		top: 0;
		padding: 2em;
		margin: 2em;
	}
	#formContainer {
		width: 100% !important;
	}
	#formWrapper ul {
		padding: 3em !important;
		text-align: center;
	}
	#formWrapper ul li, #formWrapper h6 {
		text-align: center;
	}
	#formWrapper ul li {
		height: 50px !important;
	}
	#formWrapper ul li .inp {
		float: none !important;
		height: 24px;
		width: 54% !important;
	}
	#navBanner .bnrImg {
		max-width: 100%;
	}
	#navBanner #thumbnail {
		bottom: 0;
	}
}
@media screen and (max-width: 575px) {
	#siteSearch {
		display: none;
	}
	#topLinks {
		display: none;
	}
	#mastHead {
		text-align: center;
	}
	#logo {
		width: 100%;
		text-align: center;
		margin: 0;
	}
}
@media screen and (max-width: 525px) {
	ul#navListPanel {
		border-bottom: 10px double #fff; 
	    border-top: 3px solid #fff; 
	    content:"";
	    height: 5px; 
	    width:30px;
	    margin: 1em;
	}
	ul#navListPanel li {
		display: none;
	}
	#logo {
		margin: auto;
	}
}